<p>{{{message}}}</p>

<h1> Product to edit </h1>

<div class="product">
  <h2> ID: {{id}}</h2>
  <ol>
    <li> Name:      <input type="text" value={{name}}> </li>
    <li> Price:     <input type="text" value={{price}}> </li>
    <li> Inventory: <input type="text" value={{inventory}}> </li>
  </ol>

  <button type="button"> EDIT </button>

</div>

