<h1> Product </h1>

<h2> Name: {{name}}</h2>

 <form method="POST" action="/products/{{id}}?_method=DELETE" enctype="application/x-www-form-urlencoded">

  <ol>
    <li> ID: {{id}}</li>
    <li> Price: {{price}}</li>
    <li> Inventory: {{inventory}}</li>
  </ol>

  <button type="submit"> DELETE </button>


</form>